---
import Layout from "../../../layouts/Layout.astro"
---

<Layout>
    <a href="/mapa/">Mapa</a>
    <body>
        <h1>Apuntes de Finanzas Empresariales</h1>
        <h2>Unidad I</h2>
        <h2>Unidad II</h2>
    </body>
</Layout>