---
import Layout from "../../../layouts/Layout.astro"
import Header from "../../../components/Header.astro"
---

<Layout>
    <Header />
    <body>
        <div class="hoja">
            <h1>Ecuaciones diferenciales</h1>
            <div class="seccion">
                <h2>UNIDAD I</h2>
                <b>Ecuaciones diferenciales de primer orden</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD II</h2>
                <b>Ecuaciones diferenciales de orden superior</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD III</h2>
                <b>Transformada de Laplace</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD IV</h2>
                <b>Transformada de Fourier</b>
            </div>
            <br>
        </div>  
    </body>
</Layout>