:root {
  --t1-foreground:        #a8bde4d2;
  --t1-background:        #12191ff5;
  --t1-unfocus:           #6f788ae3;

  --t1-navbackground:     #12151bd7;
  --t1-navforeground:     #444a64;
  --t1-navborder:         #353b58;
  
  --t1-black:             #080b0f;
  --t1-gray:              #444a64;
  --t1-graydark:          #13151f;
  --t1-red:               #ff3568;
  --t1-green:             #73eaba;
  --t1-greendark:         #00ee8f;
  --t1-yellow:            #e0af68;
  --t1-blue:              #85acff;
  --t1-bluedark:          #0084ff;
  --t1-magenta:           #bb9af7;
  --t1-purple:            #7e21e9;
  --t1-cyan:              #72cdf1;
  --t1-white:             #c4cdd1ea;
}


/*==========================================================*/ 
/*                       MAIN LAYOUTS                       */
/*==========================================================*/
html {
    background-color: var(--t1-background);
    color: var(--t1-foreground);
    font-family: monospace;
    overflow-y: scroll;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hoja {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  /*border: 1px groove var(--t1-black);*/
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--t1-navbackground);
  border-bottom: 2px solid var(--t1-navborder);
}

footer {
  display: flex;
  gap: 1rem;

  padding: 1rem;

  border-radius: 4px;
  border: 3px solid var(--t1-gray);
}

p {
  text-align: justify;

  /*border: 1px solid var(--t1-black);*/
}

ul {
  margin-bottom: .5rem;

  font-size: 1.5rem;
  list-style-type: none;
}





/*==========================================================*/ 
/*                         HEADERS                          */
/*============================ =============================*/
h1 {
  padding-left: 1rem;
  
  font-size: 3rem;
  color: var(--t1-foreground);
  /*border: 1px solid var(--t1-black);*/
}

h2 {
  font-size: 2.5rem;
  color: var(--t1-bluedark);
  /*border: 1px solid var(--t1-black);*/
}

h3 {
  font-size: 2rem;
  color: var(--t1-blue);
  /*border: 1px solid var(--t1-black);*/
}

h4 {
  font-size: 1.8rem;
  color: var(--t1-blue);
  /*border: 1px solid var(--t1-black);*/
}

h5 {
  font-size: 1.5rem;
  color: var(--t1-red);
  /*border: 1px solid var(--t1-black);*/
}

h6 {
  font-size: 1..2rem;
  /*border: 1px solid var(--t1-black);*/
}





/*==========================================================*/ 
/*                      NAVIGATION BAR                      */
/*============================ =============================*/
.nav-links {
  width: 100%;
  top: 5em;
  left: 48px;
  background-color: #abc9f0;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--t1-navforeground);
  /*border: 1px solid var(--t1-black);*/
}

.nav-links a:link,
.nav-links a:visited { /*Color de enlace no visitado y visitado*/
  color: var(--t1-gray);
  }

.nav-links a:hover,  /*Color al colocar el cursor encima*/
.nav-links a:focus { /*Color al arrastrar el enlace*/
  color: var(--t1-foreground);
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  color: #1f262e;
  font-weight: bold;
  font-size: 2rem;
}

.navspace {
  width: 20px;
  height: auto;
  flex-grow: 1;
  margin: 10px;
}

.expanded {
  display: unset;
}





/*==========================================================*/ 
/*                          LINKS                           */
/*==========================================================*/
.lista-secundaria a {
  padding-left: 2% ;
  padding-right: 2% ;

  text-decoration: none;
  border-radius: 4px;
  }
  
.lista-secundaria a:link,
.lista-secundaria a:visited { /*Color de enlace no visitado y visitado*/
  color: var(--t1-foreground);
  }
  
.lista-secundaria a:hover { /*Colores al colocar el cursor encima*/
  color: var(--t1-foreground);
  background: #15171b;
  }

.lista-secundaria a:focus {/*Colores al hacer click en el enlace*/
  color: var(--t1-blue);
  background: #15171b;
  }




/*==========================================================*/ 
/*                        CONTAINERS                        */
/*==========================================================*/
.seccion{
  border-top: 3px solid var(--t1-gray);
  padding-left: 1rem;
  padding-right: 1rem;
}

.semestre{
  margin: 1%;
  padding: 1%;
  
  flex-grow: 1;
  /*flex-basis: 45%;*/

  border-radius: 6px;
  border: 3px solid var(--t1-gray);

  .lista-secundaria a {
    display: flex;
    }

}

.contenedor-grande{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.contenedor-mediano{
  padding: 1%; /* OJO AQUI ESTO ROMPE  !!!!!!!!!!!*/
  
  flex-grow: 1;

  border-radius: 6px;
  /*border: 1px solid var(--t1-gray);*/

  .lista-secundaria a {
    display: flex;
    }
}





/*==========================================================*/ 
/*                  HAMBURGUER Y NAV BAR                    */
/*==========================================================*/
@media screen and (min-width: 600px) {
  .nav-links {
    margin-left: 0em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 1px 20px;
  }

}
