---
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro"
---

<Layout>
    <Header />
    <body>
        <div class="hoja">
            <h1>ALGORITMOS Y ESTRUCTURAS DE DATOS</h1>
            <div class="seccion">
                <h2>Apuntes</h2>
            </div>
            <br>
            <div class="seccion">
                <h2>Practicas</h2>
                <div class="contenedor-grande">
                    <div class="contenedor-mediano">
                        <h3>Unidad I</h3>
                        <ul class="lista-secundaria">
                            <li><a href="/semestre2/B201/practica1/">Practica 01</a></li>
                            <li><a href="/semestre2/B201/practica2/">Practica 02</a></li>
                            <li><a href="/semestre2/B201/practica3/">Practica 03</a></li>
                            <li><a href="/semestre2/B201/practica4/">Practica 04</a></li>
                            <li><a href="/semestre2/B201/practica5/">Practica 05</a></li>
                            <li><a href="/semestre2/B201/practica6/">Practica 06</a></li>
                        </ul>
                    </div>
                    <div class="contenedor-mediano">
                        <h3>Unidad II</h3>
                        <ul class="lista-secundaria">
                            <li><a href="/semestre2/B201/practica7/">Practica 07</a></li>
                            <li><a href="/semestre2/B201/practica8/">Practica 08</a></li>
                            <li><a href="/semestre2/B201/practica9/">Practica 09</a></li>
                            <li><a href="/semestre2/B201/practica10/">Practica 10</a></li>
                        </ul>
                    </div>
                    <div class="contenedor-mediano">
                        <h3>Unidad III</h3>
                        <ul class="lista-secundaria"></ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="seccion">
                <h2>Notas</h2>
            </div>
            <br>
        </div>
    </body>
</Layout>
