---
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro"
---

<Layout>
    <Header />
    <body>
        <div class="libreta">
            <h2>Apuntes de Algoritmos y Estructuras de Datos</h2>
            <a href="/semestre2/B201/practicas/">Practicas</a>
        </div>
    </body>
</Layout>
