---
import Navigation from "../../../components/Navigation.astro"
import Layout from "../../../layouts/Layout.astro"
---

<Layout>
    <Navigation />
    <body>
        <h2>Apuntes de Algoritmos y Estructuras de Datos</h2>
        <a href="/semestre2/B201/practicas/">Practicas</a>
    </body>
</Layout>
