---
import Layout from "../../../layouts/Layout.astro"
---

<Layout>
    <body>
        <a href="/">Inicio</a>
        <a href="/mapa/">Mapa</a>
        <h2>Apuntes de Algoritmos y Estructuras de Datos</h2>
        <a href="/semestre2/B201/practicas/">Practicas</a>
    </body>
</Layout>
