---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <Header />
  <title>About</title>
  <body>
    <div class="hoja">
      <h1>Acerca de la pagina</h1>
      <div class="seccion">
        <h2>Informacion</h2>
        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
        <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
        <p> [Primer commit desde termux] </p>
      </div>
      <br>
      <!-- Hola -->
      <div class="seccion">
				<h2>Mi primer pagina con Astro.</h2>
				<p>Este sitio nace como un proyecto personal y académico, desarrollado con Astro,
				   un framework moderno para crear sitios rápidos y eficientes. Acá voy a ir recopilando todos mis apuntes, 
				   proyectos y recursos que estaré juntando a lo largo de la carrera Ingenieria en Inteligencia Artificial. 
				   La idea es tener todo organizado en un solo lugar y, por qué no, compartirlo con quien le pueda servir también.</p>
			</div>
      <br>

      <Footer />
    </div>
  </body>
</Layout>
