---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navigation />
    <body>
        <h1>Coleccion de recursos digitales</h1>
    </body>
</Layout>