---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<a href="/about/">Sobremi</a>
	<a href="/mapa/">SEMESTRES</a>
	<a href="/blog/">Blog</a>

	<h1>
		INGENIERIA EN INTELIGENCIA ARTIFICIAL
	</h1>
	Mi primer pagina con Astro.
</Layout>

