---
import Navigation from '../components/Navigation.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<Navigation />
	<h1>
		INGENIERIA EN INTELIGENCIA ARTIFICIAL
	</h1>
	Mi primer pagina con Astro.
</Layout>

