---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<body>
		<div class="hoja">
			<h1>
				INGENIERIA EN INTELIGENCIA ARTIFICIAL
			</h1>
            <div class="seccion">
				<h2>Mi primer pagina con Astro.
			</div>
			<br>
			<div class="seccion">
				<h2>Noticias sobre IA

			</div>
			<br>
		</div>
	</body>
</Layout>

