---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header />
    <body>
        <div class="hoja">
            <h1>Proyectos desarrollados durante la carrera</h1>
            <div class="seccion">
                <h2>Brazo Robotico 6GDL</h2>
            </div>
            <br>
            <div class="seccion">
                <h2>Robot de pelea 3lb</h2>
            </div>
            <br>
            <div class="seccion">
                <h2>Robot Sumo Autonomo</h2>
            </div>
            <br>
            <div class="seccion">
                <h2>Desarrollo Web</h2>
            </div>
            <br>
        </div>
    </body>
</Layout>
