---
import Social from "./Social.astro"
---

<footer>
  <p> Hola Mundo    [pie de pagina]</p>
  <!-- <Social platform="GitHub" username="Ful4nito" /> -->
  <!-- <a href="https://www.linkedin.com/in/jonathan-baez-648934281/">Linkedin</a> -->
</footer>

<style>
  a {
      padding: 0.2rem 1rem;
      font-weight: bold;
      color: #EFEFEF;
      background-color: #008bdb;
      text-decoration: none;
      border-radius: 2px;
      
  }
</style>