---
import Social from "./Social.astro"
---

<footer>
  <div>
    <p>BAEZ PACHECO JONATHAN LEON</p>
  </div>
  <div>
    <a href=https://github.com/Ful4nito>Github</a>
    <a href="https://www.linkedin.com/in/jonathan-baez-648934281/">Linkedin</a>
  </div>
</footer>

<style>
  a {
      padding: 0.2rem 1rem;
      font-weight: bold;
      color: #bcd4df;
      background-color: #4e5b66;
      text-decoration: none;
      border-radius: 2px;
      
  }
</style>