---
const { platform, username } = Astro.props;
---

<a href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.2rem 1rem;
        font-weight: bold;
        color: #EFEFEF;
        background-color: #00913F;
        text-decoration: none;
        border-radius: 2px;
        
    }
</style>