---
import Layout from "../../../layouts/Layout.astro"
import Header from "../../../components/Header.astro"
---

<Layout>
    <Header />
    <body>
        <div class="hoja">
            <h1>Fundamentos de programacion</h1>
            <div class="seccion">
                <h2>UNIDAD I</h2>
                <b>Programación Estructurada</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD II</h2>
                <b>Apuntadores, tipos de Datos Estructurados y funciones</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD III</h2>
                <b>Manejo de Memoria Dinámica y Archivos</b>
            </div>
            <br>

        </div>
    </body>
</Layout>
