---
import Layout from "../../../layouts/Layout.astro"
import Header from "../../../components/Header.astro"
---

<Layout>
    <Header />
    <body>
        <div class="hoja">
            <h1>Liderazgo Personal</h1>
            <div class="seccion">
                <h2>UNIDAD I</h2>
                <b>Principios del liderazgo</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD II</h2>
                <b>Interacción e influencia en relaciones colaborativas</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD III</h2>
                <b>Conocimiento y tecnologías para la toma de decisiones</b>
            </div>
            <br>
            <div class="seccion">
                <h2>UNIDAD IV</h2>
                <b>Liderazgo adaptativo para el desarrollo de talento</b>
            </div>
            <br>
        </div>  
    </body>
</Layout>